body {
    background: #E5E5E5;
}

.cabeçalho {
    width: 100%;
    height: 92px;
    left: 0px;
    top: 0px;
    position: fixed;

    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    width: 248px;
    height: 44px;
    margin-left: 21px;
    margin-top: 8px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}

h1 {
    width: 226px;
    height: 17px;
    margin-left: 22px;
    margin-top: 2px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.finalização {
    width: 100%;
    height: 92px;
    bottom: 0px;
    position: fixed;

    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fechamento {
    width: 364px;
    height: 61px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;

    background: #CBCBCB;
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;

    border: none;

}

.pedidos {
    margin-top: 92px;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.textoPedir {
    width: 500px;
    height: 25px;
    margin-left: 19px;
    margin-top: 19px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;

    color: #333333;

}

.pratos {
    margin-top: 10px;
    overflow-x: scroll;
    width: 100%;
    display: flex;
}

.bebidas {
    margin-top: 10px;
    overflow-x: scroll;
    width: 100%;
    display: flex;
}

.sobremesas {
    margin-top: 10px;
    overflow-x: scroll;
    width: 100%;
    display: flex;
}

button {
    width: 172px;
    height: 216px;
    margin-top: 17px;
    margin-left: 19px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: initial;
}

.pedidos img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
   
}

.prato {
    width: 139px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
    margin-top: 10px;
    margin-left:10px;
}

.bebida {
    width: 139px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
    margin-top: 10px;
    margin-left:10px;
}

.sobremesa {
    width: 139px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
    margin-top: 10px;
    margin-left:10px;
}

.descrição {
    width: 147px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    

    color: #A6A6A6;
    margin-top: 2px;
    margin-left:10px;

}

.preço {
    width: 66px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 13px;
    margin-left:10px;
}

.selecionado{
    box-shadow: 0px 0px 10px -4px #00000040;
    box-shadow: inset 0px 0px 0px 10px #5AB830;

    border-radius: 9px;
    border-width: 3px;
    border-color: #5AB830;
    width: 172px;
    height: 216px;
    margin-left: 19px;
    
}

.selecionado2{
    box-shadow: 0px 0px 10px -4px #00000040;
    box-shadow: inset 0px 0px 0px 10px #5AB830;

    border-radius: 9px;
    border-width: 3px;
    border-color: #5AB830;
    width: 172px;
    height: 216px;
    margin-left: 19px;
    
}

.selecionado3{
    box-shadow: 0px 0px 10px -4px #00000040;
    box-shadow: inset 0px 0px 0px 10px #5AB830;

    border-radius: 9px;
    border-width: 3px;
    border-color: #5AB830;
    width: 172px;
    height: 216px;
    margin-left: 19px;
    
}

ion-icon {
    color:#5AB830;
    font-size: 20px;
    margin-left: 130px;
    position: absolute;
    margin-top: 170px;
    
}

.escondido {
    display: none
}

.fecharPedidos {
    background-color: #5AB830;;
}
